u.tooltip {
    position: relative;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-color: rgba(0,0,0,.2);
}

.tooltip_wrapper {
    position: relative;
}

.tooltip_container {
    z-index: 90000;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    left: 50%;
    display: none;
    transform: translate(-50%, 0);
}