.search {
    margin: 20px;
    padding: 5px 20px;
    background-color: #f1f3f4;
    border-radius: 10px;
}

.comma {
    color: gray;
}

.inversion {
    color: #697a95;
    background-color: #bad5ff;
    padding: 5px 5px 4px;
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0px 1px;
}

.song {
    color: #651f05;
    background-color: #ff5d0b;
    padding: 5px 5px 4px;
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0px 1px;
}