body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d2d4d5;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.previewWrapper {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 30em) {
  .previewWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .previewWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .previewWrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
